In [42]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [43]:
Credit_card = pd.read_csv("creditcard.csv")

In [44]:
Credit_card.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [45]:
Credit_card.Amount.describe()

count    284807.000000
mean         88.349619
std         250.120109
min           0.000000
25%           5.600000
50%          22.000000
75%          77.165000
max       25691.160000
Name: Amount, dtype: float64

In [46]:
Credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [47]:
Credit_card['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [48]:
Nonfraud= Credit_card[Credit_card.Class == 0]
fraud = Credit_card[Credit_card.Class == 1]

In [49]:
print(Nonfraud.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [50]:
Nonfraud.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [51]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [52]:
Credit_card.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Random Under Sampling

In [53]:
Nonfraud_sample = Nonfraud.sample(n=492)

In [54]:
New_dataset = pd.concat([Nonfraud_sample, fraud], axis = 0)

In [55]:
print(New_dataset.shape)

(984, 31)

In [56]:
New_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
154302,101101.0,1.673885,-0.362843,1.182509,4.217899,-0.602443,2.379283,-1.659325,0.720753,2.111964,...,-0.015935,0.505835,0.155750,0.232323,-0.341537,0.018505,0.045106,-0.026074,45.40,0
204923,135504.0,-1.435932,-0.145869,0.388325,0.937663,2.302969,-1.172714,0.736847,-0.033935,-1.349759,...,0.276962,0.277528,-0.318544,-0.497397,1.155347,-0.166411,-0.044939,0.059549,50.96,0
14563,25770.0,1.158563,0.064438,0.564758,0.515582,-0.448310,-0.344773,-0.200057,0.138856,-0.040825,...,-0.179131,-0.583681,0.193796,0.184278,0.044413,0.098401,-0.024430,0.004815,1.98,0
256969,157937.0,2.070732,0.227551,-1.315749,1.726614,0.600046,-0.313731,0.271924,-0.241764,-0.879137,...,-0.251511,-0.729933,0.326644,0.560589,-0.442805,2.047151,-0.223480,-0.080017,8.63,0
248836,154118.0,1.724701,-0.895372,-0.504528,0.189809,-0.142258,1.465286,-0.993021,0.589073,1.128803,...,0.301855,1.012325,0.159984,-1.375184,-0.541411,0.666112,0.014628,-0.063848,64.99,0

In [57]:
New_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [58]:
New_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94234.272358,0.053476,-0.092298,0.020210,-0.047675,0.036217,0.042249,0.028741,-0.026658,0.010177,...,0.024790,0.005424,0.027487,-0.004187,0.013203,-0.005496,0.006363,-0.002663,0.018907,97.304959
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [59]:
X = New_dataset.drop(columns='Class', axis = 1)
Y = New_dataset['Class']

In [60]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
154302  101101.0  1.673885 -0.362843  1.182509  4.217899 -0.602443  2.379283
204923  135504.0 -1.435932 -0.145869  0.388325  0.937663  2.302969 -1.172714
14563    25770.0  1.158563  0.064438  0.564758  0.515582 -0.448310 -0.344773
256969  157937.0  2.070732  0.227551 -1.315749  1.726614  0.600046 -0.313731
248836  154118.0  1.724701 -0.895372 -0.504528  0.189809 -0.142258  1.465286
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
154302 -1.659325  0.720753  2.111964  ... -0.236680 -0.015935  0.505835
204923  0.736847 -0.033935 -1.349759  ...  0.373012  0.276962  0.277528
14563  -0.200057  0.138856 -0.040825  ... -0.201226 -0.179131 -0.583681
256969  0.271924 -0.241764 -0.879137  ... -0.103105 -0.251511 -0.729933
248836 -0.993021  0.589073  1.128803  ... -0.207741  0.301855  1.012325
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
154302  0.155750  0.232323 -0.341537  0.018505  0.045106 -0.026074   45.40
204923 -0.318544 -0.497397  1.155347 -0.166411 -0.044939  0.059549   50.96
14563   0.193796  0.184278  0.044413  0.098401 -0.024430  0.004815    1.98
256969  0.326644  0.560589 -0.442805  2.047151 -0.223480 -0.080017    8.63
248836  0.159984 -1.375184 -0.541411  0.666112  0.014628 -0.063848   64.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [61]:
print(Y)

154302    0
204923    0
14563     0
256969    0
248836    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
from sklearn.linear_model import LogisticRegression

In [64]:
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 2)

In [65]:
print(X.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

In [66]:
model = LogisticRegression()

In [67]:
model.fit(x_train,y_train)

C:\Users\RISHABH\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [68]:
x_pred = model.predict(x_train)

In [69]:
from sklearn.metrics import accuracy_score
training_data_accuracy = accuracy_score(x_pred, y_train)

In [70]:
print(training_data_accuracy)

0.9440914866581956

In [71]:
x_pred1 = model.predict(x_test)
test_data_accuracy = accuracy_score(x_pred1, y_test)

In [72]:
print(test_data_accuracy)

0.9390862944162437